body {
font-family: 'Open Sans', sans-serif;
}
.choice {
    cursor: pointer;
}

img.p-anim, .c-anim {
    padding-top: 50px;
}

.winner, .loser {
    border: 2px solid darkblue;



    img {
    border: 9px solid black;
    }
}
